// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Footer

.credit {
	display: block;
	font-size: 13px;
	color: $text-light-color;

	@include mq(tabletl) {
		padding-left: 0px;
	}

	@include mq(laptop) {
		padding-left: 0px;
	}

	a {
		margin-left: 0px;
		color: $text-light-color;
		font-weight: $regular-weight;

		&:hover {
			color: $text-medium-color;
		}
	}
}